# niflix_project/.htaccess

#Modul untuk menulis ulang url
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /niflix_project/ # Ganti dengan nama folder proyek Anda jika tidak di root domain

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
